.main {
    text-align: center;
}

.btn {
    margin-top: 20px;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid #eee;
    background-color: #EA212D;
}