/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
    border-radius: 8px;
    background-color: #EA212D;
}